@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/*======================================================*/
/*=====================Global CSS start=================*/
/*======================================================*/


ul li {
    list-style: none;
}
h1 {
    font-size: 40px;
    font-weight: bold;
}
p {
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.primary-btn {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
}
.secendary-btn {
    color: #fff;
    background-color: #006a50;
    width: 150px;
    height: 50px;
    font-size: 18px;
    padding: 9px 26px;
    border-radius: 8px;
    border: none;
}
section {
    margin-bottom: 80px;
}
.primary-time-date {
    display: block;
    color: #696969;
    font-size: 16px;
}
.global-gap {
    display: grid;
    row-gap: 50px;
}
/*======================================================*/
/*=====================Global CSS End===================*/
/*======================================================*/

/*======================================================*/
/*=====================Header CSS start=================*/
/*======================================================*/

.container {
    margin: 0 195px;
}
.header {
    margin-bottom: 80px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}
nav h3 {
    font-size: 32px;
    font-weight: bold;
}
.nav-btn {
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
}
.banner {
    background-color: #c6e4d6;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 80px 100px;
}
.banner-content {
    margin-top: 70px;
}
.banner-title {
    color: #6c7b74;
    font-size: 24px;
    font-weight: normal;
}
.banner-description {
    font-size: 58px;
    font-weight: bold;
    margin: 10px 0 24px 0;
}
.banner-btn {
    color: #FFF;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 35px;
    border-radius: 10px;
    border: none;
}


/*======================================================*/
/*==================Header CSS star End=================*/
/*======================================================*/

/*======================================================*/
/*=====================Main CSS start===================*/
/*======================================================*/

.main {
    display: flex;
    flex-direction: column;
    gap: 80px;
}


/*===========Pillars of bangladesh start===========*/



.pillars-of-bangladesh ul {
    display: flex;
    gap: 24px;
}
.pillars-of-bangladesh ul li {
    background-color: #FFF;
    /* border: 1px solid #dfdfdf; */
    border: 1px solid #dfdfdf;
    padding: 24px;
    border-radius: 20px;
}
.pillars-of-bangladesh ul li h4 {
    margin: 24px 0 10px 0;
}

/*===========Pillars of bangladesh End===========*/

/*=======vision-of-future Section Start==========*/

.vision-of-future-box-content {
    display: flex;
    gap: 24px;
    margin: 34px 0;
}
.vision-of-future-box-content li {
    border-radius: 20px;
    padding: 32px;
}
.vision-of-future-content-box-1 {
    background-color: #d5e1f5;
}
.vision-of-future-content-box-2 {
    background-color: #c6e4d6;
}
.vision-of-future-content-box-3 {
    background-color: #f7ebcf;
}
.vision-of-future img {
    margin: 24PX;
} 
.vision-of-future-description {
    display: inline-block;
    margin-bottom: 24px;
}

.vision-of-future-content-box-1 .primary-btn {
    background-color: #5490f5;
}.vision-of-future-content-box-2 .primary-btn {
    background-color: #09a15c;
}.vision-of-future-content-box-3 .primary-btn {
    background-color: #ffc239;
}


/*====vision-of-future Section End====*/

/*=======recent News Section Start========*/

.launches-new-satellite {
    display: flex;
    gap: 32px;
    background-color: #fff;
    padding: 48px;
    border-radius: 24px; 
}

.launches-new-satellite-img img {
    border-radius: 24px;
}
.launches-new-satellite-contents {
     display: grid;
    column-gap: 24px;
}
.launches-new-satellite-contents-title {
    color: #3e3e3e;
}

/*========recent News Section End=========*/

/*=======Donate today Section Start=======*/


.donate-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}
.danate-today-headings {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    row-gap: 10px;
}
.select-amount {
    display: flex;
    gap: 24px;
    /* flex-direction: column; */
}
.select-amount li {
    background-color: #FFF;
    padding: 40px;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
}
.outher-amount input {
    width: 950px;
    height: 64px;
    background-color: #FFF;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    padding: 0 40px;
    font-size: 20px;
}
.outher-amount input::placeholder {
    font-size: 20px;
    text-align: center;
}
.donate-today ul li:nth-child(2) {
    background-color: #c6e4d6;
}
.donate-today ul li:hover {
    background-color: #92e2bd;
}


/*=======Donate today Section End=======*/

/*===Subscribe Newsletter Section Start===*/


.subscribe-newsletter {
    background-color: #c6e4d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 100px;
    border-radius: 24px;
    text-align: center;
    row-gap: 24px;
}
.subscribe-newsletter-content {
    display: grid;
    row-gap: 24px;
}
.subscribe-newsletter-content p {
    padding: 0px 286px;
}

.subscribe-newsletter-hedding {
    display: grid;
    row-gap: 16px;
    justify-content: center;
    text-align: center;
}
.subscribe-email {
    display: flex;
    justify-content: center;
}
.subscribe-email input {
    width: 588px;
    padding: 19px 40px 17px 40px;
    border: none;
    border-radius:  17px 0 0 17px ;
    font-size: 17px;
}
.subscribe-email button {
    border-radius: 0px 17px 17px 0px;
    height: 55px;
    margin-left: -4px;
}

/*===Subscribe Newsletter Section End===*/
     

/*======================================================*/
/*================== Main CSS  End =====================*/
/*======================================================*/